.main {
    background: #FAF3F3;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.upper {
    width: 100%;
    height: 8%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.middle {
    width: 100%;
    height: 18%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
.lower {
    width: 100%;
    height: 68%;
    background: #fff;
}

.upper form{
    width: 90%;
    height: 80%;
}
.upper form input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1.2em;
    padding: 0 0 0 5px;
    border: none;
}

.boxes {
    background: #fff;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
}
.boxes h3 {
    font-size: 1em;
    margin: 10px 0;
    color: #798777;
}
.boxes h1{
    font-size: 1.8em;
    margin: 20px 0 0;
}
.boxes h1 span {
    font-size: 1rem;
    margin: 0 0 0 5px;
}
