.pag {
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.page {
    display: flex;
    justify-content: space-around;
}

.counter {
    font-size: 2em
}

.upperPag {
    margin: 10px 0 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.round {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 50%;
}